<nav class="nav">
    <a class="nav__logo" href="{{ route('home') }}">{{ config.get('app.name') }}</a>
    <ul class="nav__primary">
        {% if auth.check %}
        <li class="nav__item">
            <a class="nav__item-link" href="{{ route('dashboard') }}">Dashboard</a>
        </li>
        {% endif %}
    </ul>
    <ul class="nav__secondary">
        {% if auth.check %}
            <li class="nav__item">
                <a class="nav__item-link">{{ auth.user.name }}</a>
            </li>
            <li class="nav__item">
                <a class="nav__item-link" href="#" onclick="event.preventDefault(); document.getElementById('logout').submit();">Sign out</a>
            </li>
        {% else %}
            <li class="nav__item">
                <a class="nav__item-link" href="{{ route('auth.login') }}">Sign in</a>
            </li>
            <li class="nav__item">
                <a class="nav__item-link" href="{{ route('auth.register') }}">Create an account</a>
            </li>
        {% endif %}
    </ul>
</nav>
<form action="{{ route('auth.logout') }}" method="POST" style="display:none;" id="logout">
    <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
</form>